<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="header-style">

    <section class="header-style-content">
        <section class="header-style-title">
            <h1>Maak het web <br><strong>Toegankelijk</strong></h1>
            <p><strong>Is uw website al digitaal toegankelijk voor iedereen?</strong>
                
                Dat moet al of moet binnen 2 jaar! Voor overheden is dit al verplicht. En vanaf 2025 moet iedere nieuwe
                website en app digitaal toegankelijk zijn.
            </p>
            <a href="#new-card" class="basic-button" id="new-card-button">Check een nieuwe website </a>

        </section>

        <section class="header-style-image">
            <img src="./assets/image/header-woman.png" alt="">
        </section>
        
    </section>

    <section class="bottom-bar">
        <div class="bottom-bar-verloop"></div>
        <div class="bottom-bar-box"></div>
    </section>

</div>

<%- include('./partials/foot') %>