<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <main class="toolboard">
            <div class="intro">
                <h2>Check onze partners</h2>
                <p>Dat moet al of moet binnen 2 jaar! Voor overheden is dit al verplicht. En vanaf 2025 moet iedere
                    nieuwe
                    website en app digitaal toegankelijk zijn.
                </p>
                <button>Check een nieuwe website</button>
            </div>
            <dialog class="new-card">

            </dialog>

            <div class="checklist-list">
                <div class="card">
                    <div>
                        <h4>Tietel</h4>
                        <a href="https://api.vervoerregio-amsterdam.fdnd.nl/api/v1/principes" class="url">https://api.vervoerregio-amsterdam.fdnd.nl/api/v1/principes</a>
                    </div>
                    <div class="vortgang">
                        <div>
                            <p>Waneembaar</p>
                            <p>%</p>
                        </div>
                        <div>
                            <p>bedienbaar</p>
                            <p>%</p>
                        </div>
                        <div>
                            <p>begrijpelijk</p>
                            <p>%</p>
                        </div>
                        <div>
                            <p>Robuust</p>
                            <p>%</p>
                        </div>
                    </div>
                    <div class="butten-time">
                        <button class="bekijk-pagina">></button>
                        <div class="time">
                            <p>Aangemaakt op:</p>
                            <p>22-03-2023</p>
                            <button class="card-cancel">X</button>
                        </div>
                    </div>
                    <dialog class="delete-card">

                    </dialog>
                </div>


                <div class="card">test</div>
                <div class="card">test</div>
                <div class="card">test</div>

            </div>
        </main>

        <%- include('./partials/foot') %>