@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* HTML */

:root {
  --c-primary: #e30059;
  --c-secondary: #b9005f;

  --c-vervoerregio-yello: #ffd05f;
  --c-vervoerregio-light-blue: #45becd;
  --c-vervoerregio-green: #25ae93;
  --c-vervoerregio-blue: #606eb3;

  --body-color: #e8e8e8;

  --c-background-light: #fff;
  --c-background-dark: #222224;

  --c-color-light: #fff;
  --c-color-dark: #222224;

  --c-background-light-2: #f5f5f5;
  --c-background-dark-2: #232422;

  --c-color-light-2: #f5f5f5;
  --c-color-dark-2: #232422;

  --c-background-light-solid: #fff;
  --c-background-dark-solid: #222224;

  --c-color-light-solid: #fff;
  --c-color-dark-solid: #222224;

  --smal-gap: 1em;
  --medium-gap: 2.5em;
  --large-gap: 4em;

  --b-radius-small: 0.3125em;
  --b-radius-medium: 0.625em;
  --b-radius-rounded: 16em;

  --site-header-height: 2.8em;
  --vervoerregio-path-box-height: 1.875em;
  --min-vervoerregio-path-box-height: -1.875em;
  --main-padding: var(--vervoerregio-path-box-height) 10% 8em 10%;

  --border: 0.2em solid var(--c-primary);

  --c-box-shadow-dark: 0px 0px 10px rgba(0, 0, 0, 0.5);

  --logo: url(../assets/logo-icon/vervoerregio-logo.svg);
}

[data-theme="dark"] {
  --body-color: #000000;

  --c-background-light: #313131;
  --c-background-dark: #fff;

  --c-color-light: #222224;
  --c-color-dark: #fff;

  --c-background-light-2: #232422;
  --c-background-dark-2: #f5f5f5;

  --c-color-light-2: #232422;
  --c-color-dark-2: #f5f5f5;

  --c-box-shadow-dark: 0px 0px 15px rgba(225, 225, 255, 0.35);

  --logo: url(../assets/logo-icon/vervoerregio-logo-white.svg);
}

@media screen and (min-width: 50em) {
  :root {
    --site-header-height: 45px;
    --vervoerregio-path-box-height: 45px;
    --min-vervoerregio-path-box-height: -45px;
  }
}
@media screen and (min-width: 120em) {
  :root {
    --main-padding: var(--vervoerregio-path-box-height) 11em 8em 11em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "fira-sans", sans-serif;
  font-size: 1rem;
  /* max-width: 120em; */
  /* margin: 0 auto; */
  background-color: var(--body-color);
  color: var(--c-color-dark);
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  height: 100svh;
}

h1 {
  /* font-size: 2em; */
  font-size: clamp(2em, 6vw, 4em);
  font-weight: 400;
  margin-bottom: 0.2em;
}

h1 strong {
  /* font-size: 2.5em; */
  font-size: clamp(1.2em, 8vw, 4em);
  font-weight: 700;
}
h2 {
  /* font-size: 2em; */
  font-size: clamp(2em, 7vw, 3.5em);
  font-weight: 400;
}

h3 {
  /* font-size: 1.3em; */
  font-size: clamp(1.5em, 3vw, 2em);
  font-weight: 500;
}

h4 {
  /* font-size: 1.8em; */
  font-size: 1.3em;
  font-weight: 600;
}

p {
  font-size: 1em;
}

p strong {
  font-size: 1.25em;
  font-weight: 600;
}

button {
  font-size: 1em;
}

input {
  font-size: 1em;
}

label {
  font-size: 1em;
}

a {
  font-size: 1.125em;
}

@media screen and (min-width: 50em) {
  p {
    font-size: 1.125em;
  }

  p strong {
    font-size: 1.5em;
    font-weight: 600;
  }

  button {
    font-size: 1.125em;
  }

  input {
    font-size: 1.125em;
  }

  label {
    font-size: 1.125em;
  }
}

/* header */

header {
  display: flex;
  flex-direction: column;
}

header .site-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 5%;
  height: var(--site-header-height);
  position: relative;
  background-color: var(--c-background-light);
}

.site-identity {
  z-index: 999;
}

.site-identity img {
  content: var(--logo);
  width: 11em;
  /* margin-top: 1em; */
}

/* menu*/

.menu {
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 2;
}

.menu button {
  background: none;
  border: none;
  padding: 0.5em;
  transition: 0.3s;
  border-radius: var(--b-radius-small);
}

.menu button:hover {
  background-color: var(--c-primary);
  color: var(--c-color-light);
}

header nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--site-header-height);
  right: 0;
  height: calc(100vh - var(--site-header-height));
  height: calc(100svh - var(--site-header-height));
  max-height: calc(120em - 5em);
  width: 80vw;
  padding: 4em 2em;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  background: rgba(0, 0, 0, 0.8);
  max-width: 25em;
}

header .main-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav .main-nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav .main-nav li a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  padding: 0.2em 0.3em;
  margin: 0.7em 0;
  width: 100%;
  color: var(--c-color-light-solid);
}

header nav .main-nav li .active {
  color: var(--c-primary);
}

nav button {
  transition: all 0.3s ease-in-out;
  padding: 0.3em 1em;
  border-radius: var(--b-radius-small);
  border: none;
  color: var(--c-color-light-solid);
  background-color: var(--c-primary);
  width: fit-content;
  border: var(--button);
  cursor: pointer;
}

nav button:hover {
  border: var(--button);
  color: var(--c-color-light-solid);
  background-color: rgba(0, 0, 0, 0.8);
}

.open-menu {
  transform: translateX(0);
}

/* volgende drie zijn de curve van huistyle*/
.vervoerregio-path-box-devided {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--vervoerregio-path-box-height);
  z-index: 7;
}

.responsive-width {
  width: 5%;
  height: 100%;
  background-color: var(--c-background-light);
}

.logo-width {
  width: 12em;
  height: 100%;
  background-color: var(--c-background-light);
}

.vervoerregio-path-box svg {
  fill: var(--c-background-light);
  height: 100%;
}

.curve {
  fill: var(--c-background-light);
}

/* hoofd img */

.header-style {
  width: 100%;
  height: calc(100vh - var(--site-header-height));
  height: calc(100svh - var(--site-header-height));
  position: relative;
  z-index: 1;
  /* max-height: 120em; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./assets/image/vervoerregio-amsterdam-header.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--c-color-light-solid);
  margin-top: var(--min-vervoerregio-path-box-height);
  color: var(--c-color-light-solid);

  min-height: 37.5em;
  /* max-height: 67.5em; */

  display: flex;
  flex-direction: column;
  position: relative;
}

.header-style-2 {
  color: var(--c-color-light-solid);
  background: var(--c-primary);
  background: linear-gradient(
    315deg,
    var(--c-secondary) 0%,
    var(--c-primary) 100%
  );

  padding: 0rem 10%;
  padding-top: var(--vervoerregio-path-box-height);
  margin-top: var(--min-vervoerregio-path-box-height);
}

.header-style-2 h1 {
  padding: 0.2em 0;
}

.header-style-content {
  padding: var(--vervoerregio-path-box-height) 10% 8em 10%;
  height: 100%;
}

.header-style .header-style-title {
  width: 100%;
  /* max-width: 50em; */
  min-height: 12.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-style .header-style-title div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0em;
  gap: 0.5em;
}

.header-style-title p {
  max-width: 38em;
}

.header-style-image {
  display: none;
  margin-bottom: -3em;
}

.header-style-image img {
  height: 100%;
  min-height: 28em;
  padding-top: 20%;
}

.bottom-bar {
  width: 100%;
  z-index: 2;
  bottom: 0;
  position: absolute;
}

.bottom-bar-verloop {
  width: 100%;
  height: 3em;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 0) 100%
  );
}

.bottom-bar-box {
  width: 100%;
  height: 5em;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 1) 100%
  );
}

.header-style button {
  font-size: 1.125em;
  transition: all 0.3s ease-in-out;
  padding: 0.3em 2em;
  border-radius: var(--b-radius-small);
  border: none;
  height: calc(4.73em - 2em);
  color: var(--c-color-light-solid);
  background-color: var(--c-primary);
  margin: 1em 0 0 0;
  width: fit-content;
  height: fit-content;
  border: var(--button);
  cursor: pointer;
}

.header-style button:hover {
  color: var(--c-color-light-solid);
  background-color: rgba(0, 0, 0, 0.5);
}

.header-style button a {
  text-decoration: none;
  color: var(--c-color-light-solid);
}

/* main deze dit in de vervolg pagina's */
main {
  max-width: 120em;
  margin: auto;
}

main h2 {
  color: var(--c-primary);
}

.voortgang{
  display: flex;
  gap: var(--smal-gap);
  justify-content: space-between;
}

.checklist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: var(--medium-gap);
  position: relative;
  padding: var(--main-padding);
}

.toolboard {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: var(--main-padding);
}

.toolboard .intro {
  display: flex;
  flex-direction: column;
  gap: var(--smal-gap);
}

.toolboard .intro p {
  max-width: 45em;
}
/* dialog  */

dialog{
  color: var(--c-color-dark);

}

.new-card {
  width: 50vw;
  top: 8em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--c-background-light);
  border-radius: var(--b-radius-medium);
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 8);
  padding: 3em;
}

.new-card::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.new-card div {
  display: flex;
  gap: var(--smal-gap);
  width: 100%;
}

.new-card form {
  display: flex;
  flex-direction: column;
  gap: var(--smal-gap);
}

.delete-card{
  width: 50vw;
  top: 8em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--c-background-light);
  border-radius: var(--b-radius-medium);
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 8);
  padding: 3em;
}

.delete-card::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}




.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: var(--c-primary);
}

.toolboard .checklist-list {
  padding: var(--medium-gap) 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.checklist-list .card {
  background-color: var(--c-background-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 1em;
  border-radius: var(--b-radius-medium);
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--smal-gap);
}

.divider {
  display: flex;
  flex-direction: column;
  gap: var(--smal-gap);
}

.checklist-list .vortgang div {
  display: flex;
  justify-content: space-between;
}

.checklist-list .card .butten-time {
  display: flex;
  gap: var(--smal-gap);
}

/* main / buttons */

.basic-button {
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1em;
  border-radius: var(--b-radius-small);
  border: none;
  color: var(--c-color-light-solid);
  background-color: var(--c-primary);
  width: fit-content;
  height: fit-content;
  border: var(--button);
  cursor: pointer;
}

.toolboard .bekijk-pagina {
  border-radius: var(--b-radius-small);
  border: none;
  color: var(--c-color-light-solid);
  background-color: var(--c-primary);
  height: 100%;
  max-height: 41.6px;
  border: var(--button);
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.toolboard .bekijk-pagina:hover {
  height: 100%;
  padding: .65em;
}

.toolboard .bekijk-pagina svg {
  height: 100%;
}

.toolboard .bekijk-pagina .point {
  fill: var(--c-color-light-solid);
}

.toolboard .card-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -40%);

  transition: all 0.3s ease-in-out;
  border-radius: var(--b-radius-rounded);
  border: none;
  color: var(--c-color-dark);
  background-color: var(--c-background-light);
  aspect-ratio: 1;
  height: 1.7em;
  cursor: pointer;
  padding: .5em;
}

.toolboard .card-cancel svg{
  height: 100%;
}

.toolboard .card-cancel .cross {
  fill: var(--c-color-dark);
}

.toolboard .card-cancel:hover {
  background-color: #ff0000;
  padding: .65em;
}

.checklist .principe {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.checklist .principe-box {
  background-color: var(--c-background-light);
  padding: 2em;
  border-radius: var(--b-radius-medium);
  max-width: 55em;
}

.checklist .side-bar {
  background-color: var(--c-background-light);
  height: 300px;
  width: 400px;
}

/* details summary */
/* parent-details */

details {
  cursor: pointer;
}

.parent-details {
  box-shadow: var(--c-box-shadow-dark);
  border-radius: var(--b-radius-medium);
  margin-top: 1em;
  overflow: hidden;
}

.parent-details > summary {
  background: none;
  color: var(--c-color-light);
  border-radius: var(--b-radius-medium);
  display: flex;
  padding: 1rem 1.5rem;
}

.parent-details[open] > summary {
  background-color: var(--c-primary);
  color: var(--c-color-light-solid);
  border-radius: var(--b-radius-medium) var(--b-radius-medium) 0 0;
  padding: 1rem 1.5rem;
  box-shadow: var(--c-box-shadow-dark);
}

.parent-details:hover > summary {
  background-color: var(--c-primary);
}

.parent-details-content {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

/* child-details */

.child-details {
  background-color: var(--c-background-light);
}

.child-details > summary {
  background: none;
  color: var(--c-color-light);
  border-radius: var(--b-radius-medium);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.child-details[open] > summary {
  border-bottom: 3px solid;
  margin-bottom: -3px;
}

.child-details .details-content {
  padding: 0 1.5em;
}

.child-details-content {
  padding: 0 1.5em;
}

details h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-color-dark);
}

details:hover h3 {
  color: var(--c-color-light-solid);
}

details[open] h3 {
  color: var(--c-color-light-solid);
}

details h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-color-dark);
}

details:hover h4 {
  color: var(--c-color-dark);
}

details[open] h4 {
  color: var(--c-color-dark);
}

/* 
details h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-color-dark);
}

details:hover h3 {
  color: var(--c-color-light-solid);
}

details[open] h3 {
  color: var(--c-color-light-solid);
}

details h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-color-dark);
}

details:hover h4 {
  color: var(--c-color-dark);
}

details[open] h4 {
  color: var(--c-color-dark);
}

details::marker {
  display: block;
  color: black;
}

.content-richtlinen details {
  background-color: var(--c-color-light);
}

.content-richtlinen details[open] {
  border-radius: var(--b-radius-small);
}



.content-richtlinen details summary i.fa-caret-down {
  color: var(--c-primary);
  display: none;
}

.content-richtlinen details:hover summary i.fa-caret-down {
  color: var(--c-color-light-solid);
  display: none;
}

.content-richtlinen details[open] summary i.fa-caret-down {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
  color: var(--c-color-light-solid);
  display: none;
}

.content-richtlinen summary i.fa-caret-down {
  height: fit-content;
  transform: rotate(0deg);
  font-size: 2rem;
  transition: 0.5s;
}

.content-richtlinen summary {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.content-richtlinen details summary label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  background-color: var(--c-background-light);
  border-radius: var(--b-radius-small);
}

.content-richtlinen details summary label i {
  position: absolute;
  color: var(--c-color-light);
  font-size: 1.6rem;
}

.content-richtlinen details summary input {
  width: 2.2rem;
  height: 2.2rem;
  border: 4px solid var(--c-primary);
  border-radius: var(--b-radius-small);
  appearance: none;
  transition: 0.2s;
}

.content-richtlinen details[open] summary input {
  border: 4px solid var(--c-color-light-solid);
}

.content-richtlinen details:hover summary input {
  border: 4px solid var(--c-color-light-solid);
  transition-duration: 1ms;
}

.content-richtlinen details summary input:checked {
  box-shadow: inset 0 0 0 20px var(--c-primary);
} */

@media screen and (min-width: 22em) {
  .site-identity img {
    width: 13em;
  }

  .logo-width {
    width: 15em;
  }

  .toolboard .checklist-list {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

@media screen and (min-width: 27.5em) {
  .toolboard .checklist-list {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  }
}

@media screen and (min-width: 50em) {
  header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    transform: none;

    background: none;
    position: relative;
    height: auto;

    max-width: none;
  }

  header .main-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2em;
    margin: 0;
    width: 100%;
  }

  header nav .main-nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header nav .main-nav li a {
    color: var(--c-color-dark);
    text-decoration: none;
    font-size: 1.125em;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    padding: 0.2em 0.3em;
    margin: 0;
    width: auto;
  }

  header nav .main-nav li a:is(:hover, :focus) {
    color: var(--c-primary);
    font-weight: 500;
  }

  header .nav-button {
    display: none;
  }

  nav button {
    margin: 0 0 0 0.3em;
  }

  .menu {
    display: none;
  }

  .site-identity img {
    width: 20em;
  }

  .logo-width {
    width: 22em;
  }
}

@media screen and (min-width: 74em) {
  .header-style-content {
    display: flex;
    justify-content: space-between;
    gap: var(--large-gap);
  }

  .header-style-image {
    display: block;
  }
}

@media screen and (min-height: 67.5em) {
  .bottom-bar-verloop {
    height: 5vh;
  }

  .bottom-bar-box {
    height: 10vh;
  }

  .header-style-image {
    margin-bottom: -5vh;
  }

  .header-style-content {
    padding-bottom: 15vh;
  }
}
